<header>
  <nav>
    <a href="/">Test-App</a>
    <ul>
      <li>
        <a href="/authors">All Authors</a>
      </li>
      <li>
        <a href="/authors/new">Add New Author</a>
      </li>
    </ul>
  </nav>
</header>
